/*Artisinal, hand-crafted CSS*/

.container {
  min-width: 50%;
  max-width: 80%;
  margin-right: 25%;
  margin-left: 25%;
  text-align: justify;
  display: inline-block;
}

.container .row {
  margin-top: 30px;
}

table {
  min-width: 50%;
  margin-right: 100px;
  margin-left: 0;
}

section {
  background-color: #0272c8;
}

.sponsors{
  text-align: center;
  background-color: #26bfff;
}

.sponsors > * {
  display: inline-block;
}

.list {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.list-mobile {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: -100;
}

.title_1{
  text-align: center;
}


@media screen and (max-width: 480px) {
  .list {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }


.list-mobile{
  opacity: 1;
  position: relative;

}

.sponsors {
  opacity: 0;
  position: fixed;
  margin-top: -100%;
  z-index: -100;
}

}
